.navbar .navbar-brand {
    max-width: 78px;
}

nav.navbar {
    padding: 23px 40px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 12;
}

.customDrop {
    max-height: 40px;
}

.headAccountFrame {
    width: 35.73px;
    height: 35.73px;
    border-radius: 34px;
    overflow: hidden;
    margin-right: 9.86px;
}

.welcomeText {
    font-weight: 500;
    font-size: 9.85693px;
    line-height: 12px;
    color: #717B8C;
    margin-bottom: 4.63px;

}

.userName {
    font-weight: 500;
    font-size: 11.0891px;
    line-height: 13px;
    color: #4C535F;
}

.navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(10%) sepia(87%) saturate(7497%) hue-rotate(248deg) brightness(85%) contrast(145%);
    opacity: 1 !important;
}
.navbar-toggler-icon {
	width: 2.5em;
	height: 2.5em;
}

header .dropdown-toggle::after {
    content: none;
}