.progressMainLine {
    transform: scale(1.3);
}

.progressMainNumber {
    font-weight: 500;
    font-size: 10px;
    line-height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.progressMainText {
    font-weight: 500;
    font-size: 4px;
    line-height: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
}

.progressMain.center {
    padding-left: 5rem;
}