@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 62.5%;
  /* font-size: 10px; */
}

:root {
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Playfair Display', serif;
  --bigHeading: 68px;


  --white: #FFFFFF;
  --goldYellow: #CCFF00;
  --gray: #898CA9;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  font-size: 1.6rem;
  position: relative;
  background: #1E1E1E !important;
}

a {
  text-decoration: none;
}

.ui_btn {
  background: linear-gradient(225deg, #0000FF 14.89%, #006152 85.85%);
  border-radius: 10px;
  width: 124px;
  height: 40px;
  font-family: var(--primary-font);
  color: var(--white);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui_btn .WalletIcon {
  margin-left: 7px;
  width: 17px;
  max-width: 18px;
}

.navBtn {
  margin-right: 17px;
}


.HeroComponent {
  min-height: 100vh;
  background: #1E1E1E;
  z-index: 9;
  position: relative;
}

.heroLines {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.heroLines::after {
  position: absolute;
  content: '';
  width: 200px;
  height: 400px;
  left: -7%;
  top: 4rem;
  background: rgba(24, 75, 255, 0.4);
  filter: blur(100px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.HeroContent {
  position: relative;
  z-index: 11;
  padding-top: 272px;
  color: var(--white);
}

.HeroContent .HeroHead {
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 91px;
  font-family: var(--secondary-font);
  margin-bottom: 2.5rem;
}

.HeroContent .HeroHead span {
  font-family: inherit;
  font-size: inherit;
  color: var(--goldYellow);
}

.Herotext {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  width: 65%;
  margin-bottom: 3.5rem;
}

.heroImg {
  position: absolute;
  right: 0;
  width: 642px;
  top: 50%;
  transform: translateY(-20%);
}

.welcomeText,
.userName {
  font-family: var(--primary-font);
}

.CardsLayout {
  min-height: 426px;
  margin-top: 12.3rem;
  position: relative;
  padding-top: 13rem;
}

.CardsLayoutLines {
  position: absolute;
  width: 100%;
  top: 0;
  inset: 0;
  z-index: 1;
}


.CardsLayout .card {
  background: rgba(26, 27, 35, 0.5);
  background: rgba(52, 55, 72, 0.5);
  border-radius: 25px;
  /* min-width: 380px; */
  color: var(--white);
  padding-block: 3.2rem;
  padding-inline: 2.4rem;
  border: none;
  text-align: center;
  position: relative;
  z-index: 99;
  height: 100%;
}

.card .card-img-top {
  margin-bottom: 3.2rem;
  margin-inline: auto;
}

.card-img-top.cardOne {
  width: 8rem;
}

.card-img-top.cardTwo {
  width: 4.2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.card-img-top.cardThree {
  width: 4.9rem;
  margin-bottom: 4.5rem;
  margin-top: 2rem;
}

.card .card-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
  margin-bottom: 1.6rem;
}

.card .card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #898CA9;
  margin-bottom: 3.2rem;
}

.card .cardBtn {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
  font-family: var(--primary-font);
  border: none;
  outline: none;
}

.card .cardBtn:hover .arrowIcon {
  transition: 0.4s ease-in-out;
  margin-left: 1.2rem;
}

.card .cardBtn .arrowIcon {
  width: 2.4rem;
  margin-left: 0.6rem;
  transition: 0.2s ease-in-out;
}

.CardsLayout .row .col-md-4 {
  padding-inline: 1rem !important;
}

.ContentMedia {
  color: var(--white);
  font-family: var(--primary-font);
  padding-block: 7rem;
  color: var(--white);
  font-family: var(--primary-font);
  overflow-x: hidden;
}

.ContentMediaHeadTitle {
  font-weight: 800;
  font-size: 39px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
  font-family: var(--primary-font);
  margin-bottom: 4rem;
}

.ContentMediaHeadContent {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--white);
  font-family: var(--primary-font);
  margin-bottom: 8.8rem;
}

.ContentMediaTitle {
  font-weight: 800;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 2.7rem;
}

.ContentMediaContent {
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 0;
}

.ContentMediaImage {
  max-width: 31rem;
}

.ContentMediaRow {
  margin-bottom: 11.3rem;
}

.ContentMediaRow:nth-child(odd) {
  flex-direction: row-reverse;
  overflow-x: hidden;
}


footer {
  padding-top: 10rem;
  padding-bottom: 9.2rem;
  color: var(--white);
}

footer .footerContent {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  opacity: 0.3;
  margin-bottom: 2.7rem;
}

.signUpText {
  margin-bottom: 3.5rem;
}

.footerForm {
  position: relative;
  width: 304px;
  height: 56px;
}

.footerFormBtn {
  position: absolute;
  right: 2.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.footerFormBtn img {
  width: 2.4rem;
}

.footerForm input {
  box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.05), inset 0px 2px 2px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  background: transparent;
  border: 1px solid #1B6E5B;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white) !important;
  padding-block: 2.2rem;
  padding-inline: 2rem;
}

.footerForm input::placeholder {
  color: #565976;
}

.footerSubTitle h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: var(--white);
  opacity: 0.3;
  margin-bottom: 2.9rem;
}

.footerSubTitle .nav-item .nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
  opacity: 0.3;
  /* margin-bottom: 3.4rem; */
  margin-bottom: 3rem;
}

.BackLines {
  background-image: url(..//src/assets/images/circles.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

footer {
  position: relative;
}

footer::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 33%;
  height: 604px;
  background-image: url(..//src/assets/images/bg-gradient-icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.Subscribe_after {
  position: relative;
  overflow-y: visible;
  width: 100%;
}

.Subscribe_after::before {
  position: absolute;
  left: -30rem;
  top: -9rem;
  content: '';
  width: 40%;
  height: 900px;
  background-image: url(..//src/assets/images/bg-gradient-golobal.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* .Subscribe_after.ContentMedia::before {
  left: -40%;
  top: -9rem;
  width: 55%;
  height: 900px;
} */
/* .ContentMediaTwo {
  position: relative;
  overflow-x: hidden;
}
.ContentMediaTwo::before {
  position: absolute;
  background-image: url(..//src/assets/images/bg-gradient-golobal.png);
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  background-size: cover;
  right: -25%;
  top: 0;
  width: 50rem;
  height: 50rem;
  
} */
.ContentMediaRow.one {
  position: relative;
  z-index: 2;
}

.ContentMediaRow.one::before {
  position: absolute;
  left: -35%;
  top: -71%;
  content: '';
  width: 60rem;
  height: 77rem;
  z-index: -1;
  background-image: url(http://localhost:3000/static/media/bg-gradient-golobal.30aded6f9d9db4620244.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ContentMediaRow.two {
  position: relative;
  z-index: 2;
  overflow: visible;
  width: 100%;
}

.ContentMediaRow.two::before {
  position: absolute;
  right: -52%;
  top: -71%;
  content: '';
  width: 75rem;
  height: 85rem;
  z-index: -1;
  /* background: red; */
  background-image: url(http://localhost:3000/static/media/bg-gradient-golobal.30aded6f9d9db4620244.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe {
  text-align: center;
  color: var(--white);
  padding-block: 8.6rem 12.6rem;

}

.subscribeMain {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subscribe h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
  mix-blend-mode: normal;
  opacity: 0.96;
  margin-bottom: 3.2rem;
  color: var(--white);
}

.subscribe p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #898CA9;
  margin-bottom: 3.5rem;
  /* fix  */
  position: relative;
}

.subscribe p a {
  opacity: 1;
  color: var(--white);
  text-decoration: none;
}

.subscribe .footerForm {
  width: 304px;
  height: 56px;
}

.footerForm .footerFormBtn {
  top: 60%;
}

.copyRight {
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  opacity: 0.3;
  margin-top: 3.2rem;
  margin-bottom: 0;
}

/* PROFILE PAGE  */
.dataPage .profileRow {
  color: var(--white);
}

.myForm .form-label {
  font-weight: 400;
  font-size: 15.7936px;
  line-height: 120%;
  color: var(--white);
  margin-bottom: 1.5rem;

}


.myForm .customInput {
  border-radius: 8px;
  margin-bottom: 2rem;
  width: 100% !important;
  height: 61px;
  padding: 10px 22px;
  color: var(--white);
  padding-inline: 15px;
  font-size: 1.6rem;
  border-color: #434959;
}

.myForm textarea {
  border-color: #434959;
}

.fillBtn {
  width: 100%;
  background: linear-gradient(225deg, #0000FF 14.89%, #006152 85.85%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  border: none;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.detailPage {
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: var(--white);
}

.detailPage .detailPageHead {
  font-weight: 500;
  font-size: 26px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 6.5rem;
}

.formGap .formMain {
  margin-bottom: 4rem;
}

.formGap .formMainTextArea {
  margin-bottom: 8.8rem;
}

.formGap .form-label {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
}

.formGap .form-control {
  padding: 1.2rem 1.3rem;
  font-size: 1.8rem;
  color: var(--white) !important;

}

.viewPage .dataPage.patch {
  padding-top: 10.2rem;
}

.copyRightFooter p {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  width: fit-content;
  margin-left: auto;
  padding-inline: 2rem;
}
/* .detailPageLast {
  position: relative;
} */
.copyRightFooter {
position: absolute;
/* bottom: 0; */
/* right: 0; */
/* top: 10%; */
/* width: 100%;
height: 20rem;
background: red; */
}
/* Responsive Mode */
@media (max-width: 1400px) {
  .CardsLayout {
    margin-top: 0;

  }

}

@media (max-width: 1200px) {

  .HeroHead br,
  .ContentMediaContent br {
    display: none;
  }

  .HeroContent .HeroHead {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    font-family: var(--secondary-font);
    margin-bottom: 2rem;
  }

  .PageContainer {
    padding-inline: 5.5rem;
    position: relative;
    overflow-x: hidden;
  }

  .HeroContent {
    padding-top: 20rem;
  }

  .ContentMedia {
    position: relative;
  }

  .heroImg {
    width: 55rem;
    transform: translateY(-28%);
  }

  .HeroComponent {
    position: initial;
  }

  .heroLines {
    width: 120%;
  }

  .ContentMedia .ContentMediaRow {
    justify-content: space-between;
  }

  /* .PageContainer .dataPage .dataPageWidth .customTableHead {
    overflow-x: scroll;

  } */
}

@media (max-width: 991px) {
  .CardsLayout .card {
    border-radius: 2rem;
    padding-block: 2.2rem;
    padding-inline: 0.5rem;
  }

  .card .card-text {
    font-size: 14px;
    line-height: 136%;
    margin-bottom: 2.6rem;
  }

  .card .card-title {
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 130%;
    margin-bottom: 1.2rem;
  }

  .card .card-img-top {
    margin-bottom: 1.2rem;
  }

  .card .cardTwo {
    margin-bottom: 3rem;
  }

  .card .cardThree {
    margin-bottom: 2rem;
  }

  .card-img-top.cardThree {
    width: 4.4rem;
  }

  .card-img-top.cardThree {
    width: 4.4rem;
  }

  .card-img-top.cardTwo {
    width: 3.2rem;
  }

  .card-img-top.cardOne {
    width: 7rem;
  }

  .heroImg {
    width: 50rem;
    transform: translateY(-30%);
  }

  .HeroContent .HeroHead {
    font-size: 5rem;
    line-height: 65px;
  }

  .Herotext {
    font-size: 22px;
    line-height: 29px;
    width: 100%;
    margin-bottom: 3rem;
  }

  .ui_btn {
    font-size: 14px;
  }

  .HeroComponent {
    min-height: auto;
  }

  .CardsLayout .row .col-md-4 {
    padding-inline: .5rem !important;
  }

  .ContentMediaHeadTitle {
    font-size: 34px;
    margin-bottom: 2.5rem;
  }

  .ContentMediaHeadContent br {
    display: none;
  }

  .ContentMediaHeadContent {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5.8rem;
  }

  .ContentMediaTitle {
    font-size: 26px;
    margin-bottom: 1.7rem;
  }

  .PageContainer {
    padding-inline: 2.5rem;
  }

  .navbar-collapse {
    background: rgba(255, 255, 255, 0.331);
    border-radius: 3rem;
    padding-block: 2rem;
  }

  header .ui_btn,
  header .customDrop {
    width: 200px;
    height: 40px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .CardsLayout .row .col-md-4 {
    margin-bottom: 1.5rem;
  }

  .ContentMedia .ContentMediaRow {
    justify-content: center;
    flex-direction: column-reverse;
    /* align-items: center !important; */
  }

  .ContentMedia .ContentMediaRow .col-md-4 .ContentMediaImage {
    margin-inline: auto;
    display: flex;
    max-width: 24rem;
  }

  .ContentMedia .ContentMediaRow .col-md-7 {
    text-align: center;
  }

  .ContentMedia {
    padding-block: 4rem;
  }

  footer {
    padding-bottom: 2.2rem;
  }

  .ContentMediaRow {
    margin-bottom: 5.3rem;
  }

  .subscribe h3 {
    font-size: 33px;
    margin-bottom: 2.2rem;
  }

  .subscribe {
    padding-block: 8.6rem 8.6rem;
    color: #0000FF;
  }
}